<div class="animated fadeIn">
  <div class="card">
    <div class="card-header"><i class="icon-drop"></i> Choose Year</div>
    <div class="card-body">
      <div class="row">
        <div
          class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4"
          *ngFor="let c of class; let i = index"
        >
          <div
            *ngIf="isValidUser(c._id)"
            class="bg-primary theme-color w-75 rounded mb-2"
            [routerLink]="['/subjects', c._id]"
            style="text-align: center;"
          >
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              <div class="card-header">Class</div>
              <div class="card-body">
                <h5 class="card-title">{{ c.className }}</h5>
                <!-- <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-secondary theme-color w-75 rounded mb-2" [routerLink]="['/subjects', 'tybfm']" style="padding-top:75%"></div>
          <h6>TYBFM</h6>
        </div> -->
      </div>
    </div>
  </div>
</div>
